h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter";
  font-optical-sizing: auto;
  font-weight: 700;
}

p,
button {
  font-family: "Inter";
  font-optical-sizing: auto;
  font-weight: 400;
}

nav {
  font-family: "Inter";
  font-optical-sizing: auto;
  font-weight: 600;
}

/* Section 2 */
.active-tab {
  background-color: #d2e8dc;
  color: #071e16;
  font-weight: 700;
}

/* Basic fade animation to be applied via JavaScript */
#dynamic-image {
  transition: opacity 0.5s ease-in-out;
}
@layer utilities {
  @keyframes slide-right {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .animate-slide-right {
    animation: slide-right 60s linear infinite;
  }

  /* Ensure flex items are in a row and duplicating to make continuous scrolling */
  .logo-row {
    display: flex;
    width: 200%;
  }
}

.bg-wrapper {
  background-image: url("./images/background.png");
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
}

.isax {
  font-size: 24px; /* Adjust icon size */
  color: #1f2937; /* Tailwind gray-800 color */
}

/* Mobile Menu - Initially Hidden */
#mobile-menu {
  display: none;
  position: absolute;
  top: 64px;
  left: -16px;
  width: 100%;
}

#mobile-menu li a {
  padding: 1rem 2rem;
  text-align: center;
}

#menu-btn {
  cursor: pointer;
}

/* Show menu when active */
.active-menu {
  display: flex !important;
  flex-direction: column;
}
